.header
	%h1 Articl.es
	%p.tagline ... with a name .com hipsters love

.byline
	%h2 All the World's Articles
	= link_to image_tag("add.png") + ' New article', new_article_path, :title => "Create a new article" 

.tableWrapper
	%table.articles
		%thead
			%tr
				%th Title
				%th Author Name
				%th Body
		%tbody
		- @articles.each do |article| 
			%tr{:class => cycle("row1", "row2")}
				%td= article.title 
				%td= article.author.name 
				%td= truncate(article.body, :length => 75) 
				%td.tools= link_to image_tag('zoom.png'), article, :title => "View"
				%td.tools= link_to image_tag('page_edit.png'), edit_article_path(article), :title => "Edit" 
				%td.tools= link_to image_tag('bin_closed.png'), article, :confirm => 'Are you sure?', :method => :delete, :title => "Delete" 

%hr
= will_paginate @articles 
%hr

%p= pluralize(@articles.count, "article")
