%h1 New author

- form_for(@author, :html => { :multipart => true } ) do |f| 
	= f.error_messages 
	%p
		= f.label :name 
		%br 
		= f.text_field :name 
	%p
		= f.label :photo 
		%br
		= f.file_field :photo 
	%p
		= f.submit 'Create' 

%div= link_to 'Back', authors_path
