<div class="header">
    <h1>Articl.es</h1>
    <p class="tagline">... my cousin works for Bit.ly</p>
</div>

<%= link_to 'Back', :back, :title => "Back" %>

<% form_for(@article) do |f| %>
  <h2>Editing "<%= @article.title %>"</h2>

  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author_id %><br />
		<%= f.collection_select(:author_id, ArticlesController.get_authors, :id, :name) %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
