.header
	%h1 Articl.es
	%p.tagline ... what's "Articl" in Spanish anywan?

.toolbar
	%ul
		%li= link_to(image_tag("arrow_left.png") + ' List all articles', articles_path, :title => "Back")
		%li= link_to(image_tag("page_edit.png") + ' Edit', edit_article_path(@article), :title => "Edit" ) 
		%li= link_to(image_tag("bin_closed.png") + ' Delete', @article, :confirm => 'Are you sure?', :method => :delete, :title => "Delete") 
		%li= mail_to( "", image_tag("email.png") + " Email", :subject => @article.title, :body =>  link_to( @article.title, "http://" + request.host_with_port + article_path), :title => "Email article")

%h2= @article.title 

%p.byLine
	by 
	= "#{@article.author.name}," 
	= @article.editedCount 
	edits since 
	= @article.created_at.strftime("%b. %d, %Y") 

%p= @article.cleansed_body 
